:root {
  /* Primary */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* Neutral */
  --dark-grayish: hsl(0, 6%, 24%);

  /* Font Size */
  --fz: 1rem;
  --ff: "Josefin Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--ff);
}

body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  /* min-height: 100vh; */
  /* display: flex; */
}


.main-text__heading--red {
  color: var(--desaturated-red);
}

.font-size__heading {
  font-size: 2.2rem;
}

.letter-spacing {
  letter-spacing: 10px;
}

.main-text .borderInput {
  border-color: var(--desaturated-red);
}

.arrow {
  background: linear-gradient(
    to right,
    var(--desaturated-red),
    var(--soft-red)
  );
  padding: 0.8rem 1.5rem;
}

.arrow:hover {
    background: linear-gradient(45deg, #ffffff, var(--desaturated-red) 95%);
    background: linear-gradient(45deg, white, #cccccc, var(--desaturated-red));
    cursor: pointer;
}

.errorInput {
    color: var(--soft-red);
    font-size: 14px;
    padding-left: 1rem;
}

.successInput {
    color: rgb(8, 191, 8);
    font-size: 14px;
    padding-left: 1rem;
}

.errorIcon {
    position: absolute;
    top: 9px;
    right: 74px;
}


div .email::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--desaturated-red);
    opacity: 1; /* Firefox */
}

@media (min-width: 768px) {

    .font-size__heading {
        font-size: 4rem;
    }

    .content {
        width: 60%;
    }

    .d-md-grid {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 100px 1fr;
    }

    .grid {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

}
